In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/bitblenders-007/test_data.parquet
/kaggle/input/bitblenders-007/add_event.parquet
/kaggle/input/bitblenders-007/685404e30cfdb_submission_template.csv
/kaggle/input/bitblenders-007/data_dictionary.csv
/kaggle/input/bitblenders-007/offer_metadata.parquet
/kaggle/input/bitblenders-007/add_trans.parquet
/kaggle/input/bitblenders-007/train_data.parquet

In [2]:
df=pd.read_parquet('/kaggle/input/bitblenders-007/add_event.parquet')
df

              id2     id3    id6                      id4   id7
0         2431360  618619  Tiles  2023-10-22 08:08:17.768  None
1         2431360  363153  Tiles  2023-10-22 08:08:18.921  None
2         2431360   97193  Tiles  2023-10-22 08:08:17.765  None
3         2431360  654444  Tiles  2023-10-22 08:08:17.737  None
4         2431360   32325  Tiles  2023-10-22 08:08:17.812  None
...           ...     ...    ...                      ...   ...
21457468  2878066  197418  Tiles  2023-10-31 08:52:18.410  None
21457469  2878066  355406  Tiles  2023-10-31 08:52:17.470  None
21457470  2878066  146933  Tiles  2023-10-31 08:58:25.663  None
21457471  2878066  721756  Tiles  2023-10-31 08:58:25.497  None
21457472  2878066   60764  Tiles  2023-10-31 08:58:25.679  None

[21457473 rows x 5 columns]

In [3]:
df = df.replace({None: np.nan})
df

              id2     id3    id6                      id4  id7
0         2431360  618619  Tiles  2023-10-22 08:08:17.768  NaN
1         2431360  363153  Tiles  2023-10-22 08:08:18.921  NaN
2         2431360   97193  Tiles  2023-10-22 08:08:17.765  NaN
3         2431360  654444  Tiles  2023-10-22 08:08:17.737  NaN
4         2431360   32325  Tiles  2023-10-22 08:08:17.812  NaN
...           ...     ...    ...                      ...  ...
21457468  2878066  197418  Tiles  2023-10-31 08:52:18.410  NaN
21457469  2878066  355406  Tiles  2023-10-31 08:52:17.470  NaN
21457470  2878066  146933  Tiles  2023-10-31 08:58:25.663  NaN
21457471  2878066  721756  Tiles  2023-10-31 08:58:25.497  NaN
21457472  2878066   60764  Tiles  2023-10-31 08:58:25.679  NaN

[21457473 rows x 5 columns]

In [4]:
df['id4'] = pd.to_datetime(df['id4'])
df

              id2     id3    id6                     id4  id7
0         2431360  618619  Tiles 2023-10-22 08:08:17.768  NaN
1         2431360  363153  Tiles 2023-10-22 08:08:18.921  NaN
2         2431360   97193  Tiles 2023-10-22 08:08:17.765  NaN
3         2431360  654444  Tiles 2023-10-22 08:08:17.737  NaN
4         2431360   32325  Tiles 2023-10-22 08:08:17.812  NaN
...           ...     ...    ...                     ...  ...
21457468  2878066  197418  Tiles 2023-10-31 08:52:18.410  NaN
21457469  2878066  355406  Tiles 2023-10-31 08:52:17.470  NaN
21457470  2878066  146933  Tiles 2023-10-31 08:58:25.663  NaN
21457471  2878066  721756  Tiles 2023-10-31 08:58:25.497  NaN
21457472  2878066   60764  Tiles 2023-10-31 08:58:25.679  NaN

[21457473 rows x 5 columns]

In [5]:
print(df.columns)

Index(['id2', 'id3', 'id6', 'id4', 'id7'], dtype='object')

In [6]:
print(f"--- Verification for 'id6' column ---")

# 1. Check unique categories and their counts
print("\nUnique values and their counts in 'id6':")
print(df['id6'].value_counts(dropna=False)) # dropna=False to also count NaN/None

# 2. Check for missing values
print(f"\nNumber of missing values in 'id6': {df['id6'].isnull().sum()}")

# 3. Check the data type
print(f"\nData type of 'id6': {df['id6'].dtype}")

--- Verification for 'id6' column ---

Unique values and their counts in 'id6':
id6
OffersTab          11746928
Tiles               7729729
Mobile_Timeline     1980816
Name: count, dtype: int64

Number of missing values in 'id6': 0

Data type of 'id6': object

In [7]:


print(f"--- Missing value check for 'id2' column ---")

# 1. Count the number of missing values in 'id2'
missing_id2_count = df['id2'].isnull().sum()
print(f"\nNumber of missing values in 'id2': {missing_id2_count}")

# 2. Check the percentage of missing values in 'id2'
total_rows = len(df)
missing_id2_percentage = (missing_id2_count / total_rows) * 100
print(f"Percentage of missing values in 'id2': {missing_id2_percentage:.2f}%")

# 3. Display rows where 'id2' is missing (if any)
if missing_id2_count > 0:
    print("\nRows where 'id2' is missing:")
    print(df[df['id2'].isnull()])
else:
    print("\nNo missing values found in 'id2'.")

--- Missing value check for 'id2' column ---

Number of missing values in 'id2': 0
Percentage of missing values in 'id2': 0.00%

No missing values found in 'id2'.

In [8]:
df.to_parquet('/kaggle/working/add_event_cleaned.parquet', index=False)